# Data
data/raw/
data/processed/*.csv
data/processed/*.nc
data/processed/*.h5
data/processed/*.HDF5

# Large figures
reports/Model figures/*.png

# Models
models/*.pkl
models/*.joblib

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment
.env
.venv
.env/

# OS
.DS_Store
Thumbs.db

.dodsrc
.hintrc
.vscode/