# Data
data/raw/
data/processed/*.csv
data/processed/*.nc
data/processed/*.h5
data/processed/*.HDF5

# Large figures
reports/Model figures/*.png

# Models
models/*.pkl
models/*.joblib

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment
.env
.venv
.env/

# OS
.DS_Store
Thumbs.db

.dodsrc
.hintrc
.vscode/

# Ignore all data
data/*

# Allow processed folder
!data/processed/

# Ignore everything inside processed
data/processed/*

# Allow ONLY required files
!data/processed/latest_features_western.csv
!data/processed/latest_features_central.csv
!data/processed/latest_features_eastern.csv

results/
cloudburst_mobile/**/generated_*

*.csv
*.pdf
results/*.csv
cloudburst_mobile/macos/Flutter/GeneratedPluginRegistrant.swift
